@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/forms";

@theme {
  --font-*: initial;
  --font-display: 'Inter', 'sans-serif';

  --color-*: initial;
  --color-white: hsl(0 0% 100%);
  --color-black: hsl(0 0% 0%);
  --color-blue: hsl(219 99% 53%);
  --color-green: hsl(146 70% 40%);
  --color-red: hsl(357 76% 49%);

  --color-foreground-light: hsl(0 0% 9%);
  --color-muted-foreground-light: hsl(0 0% 36%);
  --color-background-light: hsl(0 0% 100%);
  --color-layer-light: hsl(0 0% 96%);
  --color-accent-light: hsl(0 0% 91%);

  --color-foreground-dark: hsl(0 0% 96%);
  --color-muted-foreground-dark: hsl(0 0% 65%);
  --color-background-dark: hsl(0 0% 3%);
  --color-layer-dark: hsl(0 0% 11%);
  --color-accent-dark: hsl(0 0% 16%);

  --color-foreground: var(--color-foreground-light);
  --color-muted-foreground: var(--color-muted-foreground-light);
  --color-background: var(--color-background-light);
  --color-layer: var(--color-layer-light);
  --color-accent: var(--color-accent-light);

  --navigation-height: 56px;
  --gutter-bottom: var(--navigation-height);

  --z-drawer: 100;
  --z-dialog: 100;
  --z-navigation: 99;
}

@layer theme {
  :root.dark {
    --color-foreground: var(--color-foreground-dark);
    --color-muted-foreground: var(--color-muted-foreground-dark);
    --color-background: var(--color-background-dark);
    --color-layer: var(--color-layer-dark);
    --color-accent: var(--color-accent-dark);
    @apply scheme-dark;
  }

  :root.light {
    @apply scheme-light;
  }

  @media (prefers-color-scheme: light) {
    :root:not(.dark) {
      @apply scheme-light;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root:not(.light) {
      --color-foreground: var(--color-foreground-dark);
      --color-muted-foreground: var(--color-muted-foreground-dark);
      --color-background: var(--color-background-dark);
      --color-layer: var(--color-layer-dark);
      --color-accent: var(--color-accent-dark);
      @apply scheme-dark;
    }
  }
}

*,
*::before,
*::after {
  @apply border-accent;
}

body {
  @apply text-foreground bg-background font-display;
}

a {
  @apply focus-visible:focus-highlight;
}

@utility focus-highlight {
  @apply outline-hidden ring-2 ring-blue dark:ring-white;
}

@utility theme-field {
  @apply border-none appearance-none focus-visible:focus-highlight bg-layer hover:bg-accent active:bg-accent text-foreground disabled:pointer-events-none disabled:opacity-50 placeholder:text-muted-foreground autofill:text-foreground autofill:bg-layer;
}

@utility button-primary {
  --button-primary: hsl(219 99% 53%);
  --button-primary-hover: hsl(219 99% 40%);
  --button-primary-active: hsl(219 99% 22%);

  @apply text-white! bg-(--button-primary) hover:bg-(--button-primary-hover) active:bg-(--button-primary-active) ring-offset-2 dark:ring-offset-0;
}

@utility button-secondary {
  @apply bg-layer hover:bg-accent active:bg-accent text-foreground!;
}

@utility button-danger {
  --button-danger: hsl(357 76% 49%);
  --button-danger-hover: hsl(357 76% 37%);
  --button-danger-active: hsl(357 76% 26%);

  @apply text-white! bg-(--button-danger) hover:bg-(--button-danger-hover) active:bg-(--button-danger-active) ring-offset-2 dark:ring-offset-0;
}

@utility button-ghost {
  @apply text-muted-foreground! bg-transparent hover:bg-accent hover:text-foreground! active:bg-accent active:text-foreground!;
}
